{% extends "base.html" %}
{% block content %}
    <h2>Instances</h2>
    <div class="pull-right" style="margin-top: -44px;"><a class="btn btn-success create-instance" data-toggle="modal">Create Instance</a></div>
    <hr>
    {% if errors %}
      {% for error in errors %}
        <div class="span6 alert alert-block alert-error">
          <a class="close" data-dismiss="alert">&times;</a>
          {{ error }}
        </div>
      {% endfor %}
    {% endif %}
    {% if instance_list %}
    <div>
      <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="instance_list">
        <thead>
          <tr>
            <th>Hostname</th>
            <th>IP Address</th>
            <th>Description</th>
            <th>Instance ID</th>
            <th style="display:none;">FQDN</th>
            <th>CPUs</th>
            <th>Memory</th>
            <th>State</th>
            <th>Location</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          {% for instance in instance_list %}
          <tr>
            <td><strong><i class="icon-th-large"></i> <a href="/vm/{{ instance.hostid }}/{{ instance.name }}/">{{ instance.name }}</a></strong></td>
            <td>{{ instance.ip }}</td>
            <td></td>
            <td><span style="font-size:12px;">{{ instance.instanceid }}</span></td>
            <td style="display:none;">{{ instance.fqdn }}</td>
            <td>{{ instance.cpu }}</td>
            <td>{{ instance.mem }}</td>
            <td>
              {% if instance.state == "running" %}
                <font color="green">{{ instance.state }}</font>
              {% else %}
                {% if instance.state == "shut off" %}
                  <font color="red">{{ instance.state }}</font>
                {% else %}
                  {{ instance.state }}
                {% endif %}
              {% endif %}
            </td>
            <td>{{ instance.location }}</td>
            <td>
              <div class="btn-group">
                <a class="btn btn-small i-edit" data-toggle="modal" data-id=""><i class="icon-edit"></i></a>
                <a class="btn btn-small" data-toggle="modal" data-id=""><i class="icon-fullscreen"></i></a>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
        <h4>No Instances found</h4>
        <br>
      {% endif %}
      <div id="InstanceModal" class="modal hide fade">
        <div class="ModalContent">
          <div class="modal-header">
            <button class="close" data-dismiss="modal">&times;</button>
            <h3></h3>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" action="" method="post">{% csrf_token %}
              <fieldset>
                <div class="control-group">
                  <label class="control-label">Name</label>
                  <div class="controls">
                    <input type="text" name="hostname" class="input-xlarge" placeholder=""></input>
                  </div>
                 </div>
                <div class="control-group">
                  <label class="control-label">Instance ID</label>
                  <div class="controls">
                    <input type="text" name="instanceid" class="input-xlarge" placeholder=""></input>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Description</label>
                  <div class="controls">
                    <input type="text" name="description" class="input-xlarge" placeholder=""></input>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">IP Address</label>
                  <div class="controls">
                    <input type="text" name="ip" class="input-xlarge" placeholder=""></input>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">FQDN</label>
                  <div class="controls">
                    <input type="text" name="fqdn" class="input-xlarge" placeholder=""></input>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Number of CPUs</label>
                  <div class="controls">
                    <input type="text" name="cpu" class="input-xlarge" placeholder=""></input>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Memory</label>
                  <div class="controls">
                    <input type="text" name="memory" class="input-xlarge" placeholder=""></input>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">State</label>
                  <div class="controls">
                    <input type="text" name="state" class="input-xlarge" placeholder=""></input>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Instance Location</label>
                  <div class="controls">
                    <input type="text" name="location" class="input-xlarge" placeholder=""></input>
                  </div>
                </div>
              </fieldset>
          </div>    
              <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Cancel</a>
                  <input type="submit" class="btn btn-success" name="add_host" value="Add">
              </div>
            </form>
          
          </div>
        </div>
      </div>
      <div id="CreateInstance" class="modal hide fade">
        <div class="ModalContent">
          <div class="modal-header">
            <button class="close" data-dismiss="modal">&times;</button>
            <h3>Launch Instance</h3>
          </div>
          <div class="modal-body">
            <form class="form-stacked">
                <div class="row-fluid">
                  <div class="span6">
                    <div class="control-group" >
                        <label class="control-label">Server Name</label>
                        <div class="controls">
                            <input class="span12" type="text" name="create_name" />
                        </div>
                    </div>
                    <div class="control-group" >
                        <label class="control-label">Domain</label>
                        <div class="controls">
                            <input class="span12" type="text" name="create_domain" placeholder="int.exmaple.com" />
                        </div>
                    </div>
                    <div class="control-group" >
                        <label class="control-label">Location</label>
                        <div class="controls">
                          <div class="controls">
                            <select class="span12" name="create_location">
                            </select>
                          </div>                          
                        </div>
                    </div>
                  </div>
                  <div class="span6">
                    <b>Description</b><br />
                    Specify the details for launching an instance.
                  </div>
                </div>
          </div>    
              <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Cancel</a>
                  <input type="submit" class="btn btn-success" name="add_host" value="Launch Instance">
              </div>
            </form>
          
        </div>
      </div>
    </div>
{% endblock %}
{% block javascript %}
      <script type="text/javascript">
        $.extend( $.fn.dataTableExt.oStdClasses, {
            "sWrapper": "dataTables_wrapper form-inline"
        } );
        $(document).ready(function() {
            $('#instance_list').dataTable( {
                "aLengthMenu": [[30, 100, -1],[30, 100, "All"]],
                "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>"
            } );
            $(".i-edit").click(function(){
               // Get the elements from the table row and populating the modal
                $('#InstanceModal').modal('show');
                $('.modal-header h3').empty().append($(this).closest('tr').find('td:eq(0)').text());
                $('input[name="hostname"]').prop('disabled', true).val($(this).closest('tr').find('td:eq(0)').text());
                $('input[name="ip"]').prop('disabled', true).val($(this).closest('tr').find('td:eq(1)').text());
                $('input[name="description"]').prop('disabled', false).val($(this).closest('tr').find('td:eq(2)').text());
                $('input[name="instanceid"]').prop('disabled', true).val($(this).closest('tr').find('td:eq(3)').text());
                $('input[name="fqdn"]').prop('disabled', true).val($(this).closest('tr').find('td:eq(4)').text());
                $('input[name="cpu"]').prop('disabled', true).val($(this).closest('tr').find('td:eq(5)').text());
                $('input[name="memory"]').prop('disabled', true).val($(this).closest('tr').find('td:eq(6)').text());
                $('input[name="state"]').prop('disabled', true).val($(this).closest('tr').find('td:eq(7)').text());
                $('input[name="location"]').prop('disabled', true).val($(this).closest('tr').find('td:eq(8)').text());
            });
            $(".create-instance").click(function(){
              $('#CreateInstance').modal('show');
              $.get("/service/hosts", function (data){
                if (data.status == "success"){
                  hosts = data.data
                  for (var i = 0; i < hosts.length; i++) {
                    $('select[name="create_location"]').append("<option value=\""+hosts[i].name+"\">"+hosts[i].name+"</option>");   
                  }               
                }
              });
            });
        });      
      </script>
{% endblock %}
