{% extends "base.html" %}
{% block title %}VM's - {{ vname }}{% endblock %}
{% block content %}
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span3">
            <div class="well sidebar-nav">
              <ul class="nav nav-list">
                <li class="nav-header">Server Settings</li>
                <li><a href="/overview/{{ host_id }}/"><i class="icon-info-sign"></i> Overview</a></li>
                <li><a href="/newvm/{{ host_id }}/"><i class="icon-plus"></i> Create VM</a></li>
                <li><a href="/storage/{{ host_id }}/"><i class="icon-folder-open"></i> Storage pool</a></li>
                <li><a href="/network/{{ host_id }}/"><i class="icon-signal"></i> Network pool</a></li>
                <li><a href="/snapshot/{{ host_id }}/{{ vname }}/"><i class="icon-download-alt"></i> Snapshots</a></li>
                <li class="nav-header">Virtual Machines</li>
                {% if not all_vm %}
                <li><a href="/newvm/{{ host_id }}"><i class="icon-plus"></i> Create VM</a></li>
                {% else %}
                  {% for vm in all_vm %}
                  <li {% ifequal vname vm %}class="active"{% endifequal %}><a href="/vm/{{ host_id }}/{{ vm }}/"><i class="icon-th-large"></i> {{ vm }}</a></li>
                  {% endfor %}
              {% endif %}
              </ul>
            </div><!--/.well -->
          </div><!--/span-->
          <div class="span9 well">
            <h2>{{ vname }}</h2>
            <hr>
            {% if messages %}
              {% for message in messages %}
              <div class="row-fluid">
                <div class="span alert alert-block alert-success">
                  <a class="close" data-dismiss="alert">&times;</a>
                  <p>{{ message }}</p>
                </div>
              </div>
              {% endfor %}
            {% endif %}
            {% if errors %}
              {% for error in errors %}
              <div class="row-fluid">
                <div class="span8 alert alert-block alert-error">
                  <a class="close" data-dismiss="alert">&times;</a>
                  <p>{{ error }}</p>
                </div>
              </div>
              {% endfor %}
            {% endif %}
            <div class="">
            <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Instance Details</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Name</td>
                        <td>{{ vname }}</td>
                      </tr>
                      <tr>
                        <td>Status</td>
                        <td><font color={% ifequal dom.info.0 5 %}"red">Not Active{% endifequal %}{% ifequal dom.info.0 1 %}"green">Active{% endifequal %}{% ifequal dom.info.0 3 %}"orange">Suspend{% endifequal %}</font></td>
                      </tr>
                      <tr>
                        <td>Uptime</td>
                        <td>{{ dom_uptime }}</td>
                      </tr>
                      <tr>
                        <td>Virtual CPU(s)</td>
                        <td><b>{{ dom_info.0 }}</b> (Usage: {{ cpu_usage }}%)<div class="progress"><div class="bar" style="width: {{ cpu_usage }}%;"></div></div></td>
                      </tr>
                      <tr>
                        <td>Memory</td>
                        <td>{{ dom_info.1 }} MB (Usage: {{ mem_usage.1 }}%)<div class="progress"><div class="bar" style="width: {{ mem_usage.1 }}%;"></div></div></td>
                      </tr>   
                      <tr>
                        <td>MAC Address</td>
                        <td>{{ dom_info.2 }} ({{ dom_info.3 }})</td>
                      </tr>  
                      <tr>
                        <td>Root Volume</td>
                        <td>{{ hdd_image.0 }} ({{ hdd_image.1 }})</td>
                      </tr>  
                      
                      <tr>
                        <td>Volumes</td>
                        <td>{% if not media %}{% else %}{{ media }}{% endif %} 
                        <form action="" method="post">{% csrf_token %}
                          {% if media %}
                          <div class="">
                            <input type="hidden" name="iso_img" value="{{ media }}">
                            <input type="submit" class="btn btn-small"  name="remove_iso" value="Disconnect" onclick="return confirm('Are you sure?')">
                          </div>
                          {% else %}
                          <b>Images:</b> <select name="iso_img" class="btn btn-small">
                          {% if iso_images %}
                            {% for iso in iso_images %}
                              <option value="{{ iso }}">{{ iso }}</option>
                            {% endfor %}
                          {% else %}
                            <option value="none">None</option>
                          {% endif %}
                          </select>
                          {% if iso_images %}
                          <input type="submit" class="btn btn-small" name="add_iso" value="Connect">
                          {% else %}
                          <a class="btn disabled" name="connect">Connect</a>
                          {% endif %}
                          {% endif %}
                        </form>
                        </td>
                      </tr>
                                     
                    </tbody>
              </table>
              <hr />
              <div class="pagination-centered">
                <form action="" method="post">{% csrf_token %}
                  {% ifequal dom.info.0 5 %}
                  <a href="#console" role="button" class="btn disabled" style="height:40px;width:60px;"><i class="icon-align-justify"></i><br>Console</a>
                  {% else %}
                  <a href="#console" role="button" class="btn" data-toggle="modal" style="height:40px;width:60px;" onclick="open_vnc()"><i class="icon-align-justify"></i><br>Console</a>
                  {% endifequal %}
                  {% ifequal dom.info.0 5 %}
                  <button type="submit" class="btn" name="start" value="Start" style="height:50px;width:80px;"><i class="icon-off"></i><br>Start</button>
                  {% endifequal %}
                  {% ifequal dom.info.0 1 %}
                  <a href="#rebootModal" role="button" class="btn" data-toggle="modal" style="height:40px;width:60px;"><i class="icon-off"></i><br>Reboot</a>
                  {% endifequal %}
                  {% ifequal dom.info.0 3 %}
                  <a href="#" role="button" class="btn disabled" data-toggle="modal" style="height:40px;width:60px;"><i class="icon-off"></i><br>Reboot</a>
                  {% endifequal %}
                  <a href="#deleteModal" role="button" class="btn" data-toggle="modal" style="height:40px;width:60px;"><i class="icon-remove"></i><br>Delete</a>
                  {% ifequal dom.info.0 3 %}
                  <button type="submit" name="resume" role="button" class="btn" style="height:50px;width:80px;"><i class="icon-play"></i><br>Resume</button>
                  <button type="submit" name="snapshot" role="button" class="btn" style="height:50px;width:80px;"><i class="icon-download-alt"></i><br>Snapshot</button>
                  {% endifequal %}
                  {% ifequal dom.info.0 1 %}
                  <button type="submit" name="suspend" role="button" class="btn" style="height:50px;width:80px;"><i class="icon-pause"></i><br>Suspend</button>
                  <a role="button" class="btn disabled" style="height:40px;width:60px;"><i class="icon-download-alt"></i><br>Snapshot</a>
                  {% endifequal %}
                  {% ifequal dom.info.0 5 %}
                  <a role="button" class="btn disabled" style="height:40px;width:60px;"><i class="icon-download-alt"></i><br>Suspend</a>
                  <button type="submit" name="snapshot" role="button" class="btn" style="height:50px;width:80px;"><i class="icon-download-alt"></i><br>Snapshot</button>
                  {% endifequal %}
                 </form>
              </div>
            </div> <!-- /span7 -->

            <div id="rebootModal" class="modal hide fade">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="rebootModalLabel">Reboot Server</h3>
              </div>
              <div class="modal-body">
                <p>Shutdown sends ACPI shutdown signal to guest system. Reboot sends power off and halts guest. Power is lost immediately.</p>
                <form class="form-horizontal" action="" method="post">{% csrf_token %}
                  <fieldset>
                    <div class="control-group"><br>
                    <label class="control-label">Action:</label>
                      <div class="controls">
                         <label class="radio">
                          <input type="radio" name="power" value="shutdown"/>Shutdown</label>
                         <label class="radio">
                          <input type="radio" name="power" value="destroy"/>Force Shutdown</label>
                      </div>
                    </div>
                  </fieldset>
                </div>
                <div class="modal-footer">
                  <button class="btn" data-dismiss="modal">Cancel</button>
                  <input class="btn btn-primary" type="submit" value="Send">
                  </form>
                </div>
            </div> <!-- /rebootModal -->

            <div id="deleteModal" class="modal hide fade">
              <form class="form-horizontal" action="" method="post">{% csrf_token %}
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="deleteModalLabel"> Undefined {{ vname }}</h3>
              </div>
              <div class="modal-body">
                  <fieldset>
                    <p>Delete HDD Image?</p>
                    <div class="control-group">
                      <label class="checkbox">
                        <input type="checkbox" name="image" value="{{ hdd_image.0 }}"> {{ hdd_image.0 }}
                      </label>
                    </div>
                  </fieldset>
              </div>
              <div class="modal-footer">
                  <button class="btn" data-dismiss="modal">Cancel</button>
                  <input class="btn btn-danger" type="submit" name="delete" value="Delete">
              </div>
              </form>
            </div> <!-- /deleteModal -->

          </div><!--/span-->
        </div><!--/row-fluid-->
      </div><!--/container-fluid-->
      <script>
        function open_vnc() { window.open('/vnc/{{ host_id }}/{{ vname }}','','width=968,height=552') }
      </script>
{% endblock %}