{% extends "base.html" %}
{% block content %}
    <h2>Instances</h2>
    <hr>
    {% if errors %}
      {% for error in errors %}
        <div class="span6 alert alert-block alert-error">
          <a class="close" data-dismiss="alert">&times;</a>
          {{ error }}
        </div>
      {% endfor %}
    {% endif %}
    {% if instance_list %}
    <div>
      <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="instance_list">
        <thead>
          <tr>
            <th>Hostname</th>
            <th>IP Address</th>
            <th>Instance ID</th>
            <th>FQDN</th>
            <th>CPUs</th>
            <th>Memory</th>
            <th>State</th>
            <th>Location</th>
          </tr>
        </thead>
        <tbody>
          {% for instance in instance_list %}
          <tr>
            <td><strong><a href="/vm/{{ instance.hostid }}/{{ instance.name }}/"><i class="icon-th-large"></i> {{ instance.name }}</a></strong></td>
            <td>{{ instance.ip }}</td>
            <td>{{ instance.instanceid }}</td>
            <td style="width: 80px;">{{ instance.fqdn }}</td>
            <td style="width: 70px;">{{ instance.cpu }}</td>
            <td>{{ instance.mem }}</td>
            <td>{{ instance.state }}</td>
            <td>{{ instance.location }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
        <h4>No Instances found</h4>
        <br>
      {% endif %}
      <div id="myModal" class="modal hide fade">
          <div class="modal-header">
            <button class="close" data-dismiss="modal">&times;</button>
              <h3>Add new host sever</h3>
          </div>
       <div class="modal-body">
          <form class="form-horizontal" action="" method="post">{% csrf_token %}
            <fieldset>
              <div class="control-group">
              <label class="control-label">Name</label>
                <div class="controls">
                  <input type="text" name="hostname" class="input-large focused" placeholder="Name">
                </div>
               </div>
              <div class="control-group">
              <label class="control-label">Hostname</label>
                <div class="controls">
                  <input type="text" name="ipaddr" class="input-large" placeholder="IP or Domain">
                </div>
              </div>
              <div class="control-group">
              <label class="control-label">KVM login</label>
                <div class="controls">
                  <input type="text" name="kvm_login" class="input-large" placeholder="login">
                </div>
              </div>
              <div class="control-group">
              <label class="control-label">KVM password</label>
                <div class="controls">
                  <input type="password" name="kvm_passwd" class="input-large" placeholder="******">
                </div>
              </div>
              <div class="control-group">
              <label class="control-label">Connection Type</label>
                <div class="controls">
                  <select name="connection_type">
                    <option value="tcp">qemu+tcp</option>
                    <option value="ssh">qemu+ssh</option>
                  </select>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Cancel</a>
              <input type="submit" class="btn btn-success" name="add_host" value="Add">
           </form>
          </div>
        </div>
      </div>
{% endblock %}
